@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body { font-family: 'Roboto', sans-serif; }
b { font-weight: 700; }
.hidden {
  display: none !important;
}

.classes { 
    margin: 12px;
    display: flex; 
    flex-direction: column; 
}
.classes__label {
  padding: 12px;
  font-size: 2rem;
  font-weight: 700;
}
.classes__classes { 
    margin: 12px;
    display: flex; 
    flex-direction: row;
    overflow-x: scroll;
}
.classes__class {
    margin: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 200px;
    border-radius: 6px;
    text-align: center;
    line-height: 2;
}
.classes__class:hover {
    cursor: pointer;
}
.class__name {
    font-size: 1.5rem;
    font-weight: 700;
    pointer-events: none;
}
.class__percent {
    font-size: 1.25em;
    pointer-events: none;
}
.class__settingsIcon {
    text-align: right;
}
.class__settings {
    margin: 6px;
    background-color: white;
    border-radius: 6px;
}
.class__settings div {
  display: flex;
}
.settings__color {
  margin: 6px;
  width: 50px;
  height: 25px;
  border-radius: 12px;
}
.settings__color--red {
  background-color: #FF9AA2;
}
.settings__color--salmon {
  background-color: #FFB7B2;
}
.settings__color--orange {
  background-color: #FFDAC1;
}
.settings__color--yellow {
  background-color: #E2F0CB;
}
.settings__color--green {
  background-color: #B5EAD7;
}
.settings__color--purple {
  background-color: #C7CEEA;
}

.grades {
  margin: 12px;
  padding: 12px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.grades__label {
  font-size: 2rem;
  font-weight: 700;
}
.grades__list {
  margin: 12px;
  display: flex;
  flex-direction: column;
}
.list__grade {
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  padding: 12px;
  border-bottom: 1px solid lightgray;
}
.grade__points, .grade__totalPoints, .grade__percent {
  text-align: right;
}

.colors {
  margin: 12px;
  display: flex;
}
.color {
  width: 200px;
  height: 150px;
}